# Development
tests       export-ignore
phpunit.xml export-ignore
Makefile    export-ignore
.php_cs     export-ignore

# Git directories
.github         export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore