name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.1', '7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: intl, json
        coverage: xdebug

    - name: Validate composer.json
      run: composer validate
      
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-node-${{ hashFiles('**/composer.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Update autoloader
      run: composer dump-autoload

    - name: Run test suite
      run: composer run-script test

    - name: Upload build
      uses: actions/upload-artifact@v1
      with:
        name: build
        path: ./

  coverage:
    runs-on: ubuntu-latest
    name: PHPUnit Code Coverage
    needs: build_and_test
    steps:
    - name: Download build
      uses: actions/download-artifact@v1
      with:
        name: build

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        extensions: intl, json
        coverage: xdebug

    - name: Run PHPUnit code coverage
      run: composer run-script coverage

    - name: Archive code coverage results
      uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: build/coverage-report/code-coverage.html
